<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bangdori.api_mybatis.domain.product.mapper.ProductMapper">

    <resultMap id="ProductResultMap" type="bangdori.api_mybatis.domain.product.vo.ProductVO">
        <id property="prodNo" column="prod_no"/>
        <result property="corpNo" column="corp_no"/>
        <result property="tradeType" column="trade_type"/>
        <result property="title" column="title"/>
        <result property="type" column="type"/>
        <result property="statusCd" column="status_cd"/>
        <result property="entrancePwd" column="entrance_pwd"/>
        <result property="unitPwd" column="unit_pwd"/>
        <result property="phoneNo1" column="phone_no1"/>
        <result property="phoneNo2" column="phone_no2"/>
        <result property="unitNo" column="unit_no"/>
        <result property="etc" column="etc"/>
        <result property="deposit" column="deposit"/>
        <result property="monthlyRent" column="monthly_rent"/>
        <result property="salePrice" column="sale_price"/>
        <result property="depositTotal" column="deposit_total"/>
        <result property="rentTotal" column="rent_total"/>
        <result property="premiumFee" column="premium_fee"/>
        <result property="premiumYn" column="premium_yn"/>
        <result property="directionCd" column="direction_cd"/>
        <result property="rcmCd" column="rcm_cd"/>
        <result property="roomCd" column="room_cd"/>
        <result property="bathCd" column="bath_cd"/>
        <result property="moveInCd" column="move_in_cd"/>
        <result property="prodAddr" column="prod_addr"/>
        <result property="propertyX" column="property_x"/>
        <result property="propertyY" column="property_y"/>
        <result property="prodRoadAddr" column="prod_road_addr"/>
        <result property="prodDtlAddr" column="prod_dtl_addr"/>
        <result property="prodMngUser" column="prod_mng_user"/>
        <result property="newDtm" column="new_dtm"/>
        <result property="regUserId" column="reg_user_id"/>
        <result property="chgUserId" column="chg_user_id"/>

        <collection property="remarkCd" ofType="string" column="remark_cd"/>
    </resultMap>


    <select id="selectProducts" resultMap="ProductResultMap">
        SELECT
        p.prod_no,
        p.corp_no,
        p.trade_type,
        p.title,
        p.type,
        p.status_cd,
        p.entrance_pwd,
        p.unit_pwd,
        p.phone_no1,
        p.phone_no2,
        p.unit_no,
        p.etc,
        p.deposit,
        p.monthly_rent,
        p.sale_price,
        p.deposit_total,
        p.rent_total,
        p.premium_fee,
        p.premium_yn,
        p.direction_cd,
        p.rcm_cd,
        p.room_cd,
        p.bath_cd,
        p.move_in_cd,
        p.prod_addr,
        p.property_x,
        p.property_y,
        p.prod_road_addr,
        p.prod_dtl_addr,
        p.prod_mng_user,
        p.new_dtm,
        p.reg_user_id,
        p.chg_user_id,
        r.remark_cd
        FROM
        tb_product_info p
        LEFT JOIN
        tb_product_remarks_info r
        ON
        p.prod_no = r.prod_no
        WHERE
        p.corp_no = #{corpNo}
        AND
        p.use_yn = '1'
    </select>

    <update id="updateNewDtmAndUser">
        UPDATE
        tb_product_info
        SET
        new_dtm = NOW(),
        chg_user_id = (
        SELECT
        user_no
        FROM
        tb_user_info
        WHERE
        user_no = #{userNo}
        )
        WHERE
        prod_no = #{prodNo}
    </update>

    <update id="deleteProduct" parameterType="Long">
        UPDATE
        tb_product_info
        SET
        use_yn = '0',
        chg_dtm = NOW()
        WHERE
        prod_no = #{prodNo}
    </update>

    <insert id="insertProduct" parameterType="bangdori.api_mybatis.domain.product.dto.ProductRequestDto" useGeneratedKeys="true" keyProperty="prodNo">
        INSERT INTO tb_product_info (
        corp_no,
        trade_type,
        title,
        type,
        status_cd,
        entrance_pwd,
        unit_pwd,
        phone_no1,
        phone_no2,
        unit_no,
        etc,
        deposit,
        monthly_rent,
        deposit_and_monthly_rent,
        sale_pricd_and_depo_and_rent,
        deposit_and_monthly_rent_and_pre_fee,
        sale_price,
        deposit_total,
        rent_total,
        premium_fee,
        premium_yn,
        direction_cd,
        rcm_cd,
        room_cd,
        bath_cd,
        move_in_cd,
        prod_addr,
        property_x,
        property_y,
        prod_road_addr,
        prod_dtl_addr,
        prod_mng_user,
        new_dtm,
        reg_user_id,
        chg_user_id
        ) VALUES (
        #{corpNo},
        #{tradeType},
        #{title},
        #{type},
        #{statusCd},
        #{entrancePwd},
        #{unitPwd},
        #{phoneNo1},
        #{phoneNo2},
        #{unitNo},
        #{etc},
        #{deposit},
        #{monthlyRent},
        #{depositAndMonthlyRent},
        #{salePricdAndDepoAndRent},
        #{depositAndMonthlyRentAndPreFee},
        #{salePrice},
        #{depositTotal},
        #{rentTotal},
        #{premiumFee},
        #{premiumYn},
        #{directionCd},
        #{rcmCd},
        #{roomCd},
        #{bathCd},
        #{moveInCd},
        #{prodAddr},
        #{propertyX},
        #{propertyY},
        #{prodRoadAddr},
        #{prodDtlAddr},
        #{prodMngUser},
        #{newDtm},
        #{regUserId},
        #{chgUserId}
        )
    </insert>

    <insert id="insertRemarks" parameterType="map">
        <foreach collection="remarkList" item="remark" separator=";">
            INSERT INTO tb_product_remarks_info
            (prod_no, use_yn, remark_cd, reg_dtm)
            VALUES
            (#{remark.prodNo}, #{remark.useYn}, #{remark.remarkCd}, #{remark.regDtm})
        </foreach>
    </insert>

    <insert id="insertImages" parameterType="map">
        <foreach collection="imageList" item="image" separator=";">
            INSERT INTO tb_product_img_info
            (prod_no, mng_file_nm, real,file_nm, use_yn, reg_dtm)
            VALUES
            (#{image.prodNo}, #{image.mngFileNm}, #{image.realFileNm}, #{image.useYn}, #{image.regDtm})
        </foreach>
    </insert>

</mapper>