<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bangdori.api_mybatis.domain.user.mapper.UserMapper">

    <select id="selectUserInfo" parameterType="String" resultType="bangdori.api_mybatis.domain.user.vo.UserInfoVO">
        SELECT
            u.user_no,
            u.corp_no,
            u.role_cd,
            u.status_cd,
            u.id,
            u.pwd,
            u.name,
            u.phone_no,
            c.corp_nm
        FROM
            tb_user_info u
        LEFT JOIN
            tb_corp_info c ON u.corp_no = c.corp_no
        WHERE
            u.id = #{username}
    </select>

    <update id="updateUserInfo" parameterType="bangdori.api_mybatis.domain.user.dto.UserUpdateRequestDto">
        UPDATE
            tb_user_info
        SET
            name = #{name},
            phone_no = #{phoneNo},
            pwd = #{pwd},
            chg_dtm = NOW()
        WHERE
            user_no = #{userNo}
    </update>

</mapper>


