<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bangdori.api_mybatis.user.mapper.UserMapper">

    <select id="selectUserInfo" resultType="bangdori.api_mybatis.user.vo.UserInfoVO">
        SELECT * FROM TB_USER_INFO WHERE ID = #{username}
    </select>

</mapper>
