<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bangdori.api_mybatis.domain.code.mapper.CodeMapper">

    <select id="selectCommCodes" resultType="bangdori.api_mybatis.domain.code.vo.CodeVO">
        select
            cd_nm, comm_cd, dtl_cd
        from
            tb_code_info
        where use_yn = '1'
        order by ord asc;
    </select>

</mapper>


